@import url(./color.css);

/* This is historybar style */
.bar{
    height: 100vh;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    transition: width 0.5s;
    backdrop-filter: blur(20px);
    background-color: var(--color90);
    box-shadow: -10px 0px 20px #00000050;
    z-index: 110;
}
.barSel{
    height: 100vh;
    width: 380px;
    box-shadow: -10px 0px 20px #00000050;
    position: fixed;
    top: 0;
    right: 0;
    transition: width 0.5s;
    background-color: var(--color90);
    backdrop-filter: blur(20px);
    z-index: 110;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.historyButton{
    width: 100%;
}
.historyback{
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: var(--inColor);
    box-shadow: 0px 0px 20px #00000050;
    border-radius: 50%;
    cursor: pointer;
}
.historyback:active{
    background-color: #00000010;
}
.historyback .imgafter{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.imgbefore{
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    transition: 1s;
}

.historyInfo{
    background-color: var(--inColor);
    width: 85%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #00000050;
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.historyInfo:hover{
    background-color: var(--color50)
}
.historyInfo:active{
    background-color: #00000010;
}
#historyIn{
    width: 97%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:scroll;
}
.historyTitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    max-width: 80%;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}
.historyLink{
    font-size: 18px;
    max-width: 100%;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}
