::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: cover;
}

/* This is searchMain style */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* This is searchbar style */
.searchbar{
    width: 570px;
    height: 30px;
    background-color: #ffffff90;
    box-shadow: 5px 5px 30px #00000050;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-top: 2px solid #ffffff70;
    border-left: 2px solid #ffffff70;
    transition: 0.25s;
}
.searchbar:hover{
    background-color: #dddddd70;
    border-top: 2px solid #ffffff50;
    border-left: 2px solid #ffffff50;
}
.searchbar input{
    border: 0px;
    background-color: transparent;
    border-radius: 6px;
    height: 30px;
    width: 540px;
    font-size: 20px;
    font-weight: bold;
}
.searchbar img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}
.searchbar img:hover{
    background-color: #00000010;
}

/* This is favourite link style */
.link{
    display: flex;
    flex-direction: row;
    width: 610px;
    flex-wrap: wrap;
}
.link a div{
    width: 50px;
    height: 50px;
    background-color: #ffffff90;
    backdrop-filter: blur(20px);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 30px #00000050;
    border-top: 2px solid #ffffff70;
    border-left: 2px solid #ffffff70;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 25px;
    transition: 0.25s;
}
.link div:hover{
    background-color: #aaaaaa70;
    border-top: 2px solid #ffffff50;
    border-left: 2px solid #ffffff50;
}
.link div:active{
    background-color: #aaaaaa50;
    border-top: 2px solid #ffffff30;
    border-left: 2px solid #ffffff30;
}

.link a div img{
    max-width: 100%;
    max-height: 100%;
}

/* This is top-left button element style */
.title{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}
.titleButton{
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #ffffff90;
    box-shadow: 5px 5px 30px #00000050;
    border-radius: 50%;
    backdrop-filter: blur(20px);
    cursor: pointer
}
.titleButton:active{
    background-color: #00000010;
}
.titleButton img{
    width: 100%;
    height: 100%;
}

/* Clock css */
.mainClock{
    width: 750px;
    height: 400px;
    background-color: #ffffff30;
    border-radius: 40px;
    backdrop-filter: blur(40px);
    border-top:2px solid #ffffff60;
    border-left:2px solid #ffffff60;
    box-shadow: 10px 5px 50px #00000050;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#time{
    font-weight: bold;
    font-size: 150px;
}

/* searchengins css */

.moreSearch{
    position: fixed;
    background-color: #ffffff90;
    backdrop-filter: blur(20px);
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px #00000050;
    border-top: 2px solid #ffffff70;
    border-left: 2px solid #ffffff70;
    z-index: 100;
}
.searchEngines{
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: row;
}
.searchEngines div{
    padding: 25px;
    border-radius: 20px;
}
.searchEngines div img{
    width: 100%;
    height: 100%;
}
.searchEngines div:hover{
    background-color: #00000010;
}

.button{
    position: fixed;
    bottom: -500px;
    padding: 20px;
    background-color: #ffffff90;
    border-radius: 50px;
    box-shadow: 10px 5px 50px #00000050;
    backdrop-filter: blur(40px);
    margin-bottom: 30px;
}
.button:active{
    background-color: #00000030;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}